// @file
// Styles for buttons.

.button, .md-button {
  @extend %button;
  border: 0;
}

.md-button:not([disabled]).md-icon-button:hover {
	background: $tm-ltblue;
}

.md-button.md-icon-button {
	padding: 0;
}

.md-button.md-raised:not([disabled]) {
	box-shadow: none;
}

.button--large {
  @extend %button--large;
}

.button-add.md-button.md-primary.md-fab,
.button-add.md-button.md-primary.md-fab:not([disabled]) {
	background: $tm-drkblue;
	padding: 0;
	&:hover {
		background: $tm-ltblue;
	}
	ng-md-icon {
		height: 48px;
		width: 48px;
	}
}