.header {
  border-top: 8px solid $tm-drkblue;
  border-bottom: 1px solid $tm-ltgray;
  max-width: $max-page-width;
  margin: 0 auto 80px auto;
  md-pagination-wrapper {
    right: 0;
    left: auto;
    h3 {
      font-size: 24px;
      margin-bottom: 0;
    }
  }
}

.header__logo {
  height: 60px; 
  max-width: 220px;
  a {
    background-image: url('/images/ToxicMappr_logo.png');
    background-repeat: no-repeat;
    background-size: contain;
    display: block;
    height: 60px;
    width: 100%;
  }
}