// @file
// Styles for home.

.homepage-intro {
  margin-top: 24px;
}

.location_resources {
  min-height: 300px;

  .homebox {
    background: #4b7988;
	   min-height: 150px;
  }
  
}

.home-footer {
  margin-top: 24px;
  min-height: 160px;
  background: rgba(0, 61, 82, .75);
  //mix-blend-mode: multiply;
  color: white;
  padding: 50px 0;
  h4 {
    color: white;
    text-transform: uppercase;
    font-weight: 600;
  }
}


