// @file
// Styles for home.

body {
 font-family: "Roboto", Arial;
}

.homepage-intro {
  margin-top: 24px;
}

.location_resources {
  min-height: 300px;

  .homebox {
    background: #4b7988;
	min-height: 150px;
  }
  
}


.home-footer {
  margin-top: 24px;
  min-height: 160px;
  background: #003340;
  opacity: 1; // Leave this as 1
  background-color: rgba(0,50,64,0.2); // This is in the form rgba(R,G,B,a) where a is your opacity
}


