// @file
// Styles for home.

.homepage-intro {
  margin-top: 24px;
}

.location_resources {
  min-height: 300px;

  .homebox {
    background: #4b7988;
	   min-height: 150px;
  }
  
}

.home-footer {
  margin-top: 24px;
  min-height: 160px;
  background: rgba(0, 61, 82, .85);
  mix-blend-mode: multiply;
}


