.maps__map {
  img {
    height: 385px;
  }
  .angular-leaflet-map, .map__map {
  	height: 385px;
  	width: 410px;
  }
  
  margin: 50px 0 0 0;
}

.maps__map--new {
  min-height: 410px;
}

.map__legend {
  div.cartodb-legend-stack {
    border-radius: 0;
    bottom: 0;
    box-shadow: none;
    display: block;
    right: 0;
    position: relative;
  }
  
  .legend-title {
    display: none;
  }
}

.legend-selector {
  li {
    display: inline-block;
    list-style: none;
    margin: 0 0 0 10px;
    padding: 0;
  }

  li a {
    background: #FFF;
    border: 1px solid #999;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.2) 0 0 4px 2px;
    color: #858585;
    display: block;
    font-weight: 400;
    font-size: 13px;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    z-index: 5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    -moz-box-shadow: rgba(0, 0, 0, 0.2) 0 0 4px 2px;
    webkit-box-shadow: rgba(0, 0, 0, 0.2) 0 0 4px 2px;

    &.selected {
      background: #f1f1f1;
    }
  }
}