.homepage-bg {
	
  background: linear-gradient(
      rgba(255, 255, 255, 0.85), 
      rgba(255, 255, 255, 0.85)), 
      url(/images/cityaerial.jpg);
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
}