.toxins-learn-more__text {
	font-size: 20px;
	border-top: 1px solid $tm-ltgray;
	border-bottom: 1px solid $tm-ltgray;
	padding: 15px 10px;
	margin: 50px 0;
	h2 {
		margin: 0;
		color: $tm-drkblue;
		line-height: 1;
		padding-bottom: 6px;
	}
}