<h1>About</h1>
<h2>How Toxic is Your Neighborhood?</h2>
<p>U.S. consumers regularly use a combination of locations and ratings to make decisions about where to dine, which doctor to choose, and which school district is best for their children. But how often, when choosing a location to buy, rent, build, or play, do you consider the significant environmental and health risks posed by the release of toxic chemicals?</p>
<h2>Toxic Mappr</h2>
<p>Forum One is pleased to launch Toxic Mappr—a powerful online tool to help educate local residents, policy makers, real estate developers, urban planners and researchers about the toxics released for any location in the United States. Armed with this information, you’ll be better equipped to make important environmental and health-related decisions for your family, business and/or community at large. Toxic Mappr uses the latest, reliable U.S. Environmental Protection Agency (EPA) data to inform users about toxic chemicals in their community.</p>
