<h1>Data</h1>
<p>Toxic Mappr provides citizens with information about toxics in their communities. The data used in the tool comes from two U.S. Environmental Protection Agency (EPA) data sets, described below.</p>
<h2>Toxics Release Inventory</h2>
<p>The Toxics Release Inventory (TRI) is a dataset compiled by the EPA. It contains information on toxic chemicals handled by many facilities across the United States, including details on quantities of chemicals managed through disposal or other release, recycling, energy recovery or treatment. A "release" of a chemical means that it is emitted to the air or water, or placed in some type of land disposal. Toxic chemicals tracked by TRI may pose a threat to human health and the environment. U.S. facilities in different industry sectors must report annually how much of each chemical is released to the environment and/or managed through other means.</p>
<p>Read more about TRI on EPA.gov</p>
<h2>National-Scale Air Toxics Assessment</h2>
<p>The National-Scale Air Toxics Assessment (NATA) is EPA's ongoing comprehensive evaluation of air toxics in the U.S. NATA assessments do not incorporate refined information about emission sources, but rather, use general information about sources to develop estimates of risks which are more likely to overestimate impacts than underestimate them. NATA provides estimates of the risk of cancer and other serious health effects from breathing (inhaling) air toxics in order to inform both national and more localized efforts to identify and prioritize air toxics, emission source types and locations which are of greatest potential concern in terms of contributing to population risk.</p>
<p>Read more about NATA on EPA.gov</p>
