<!DOCTYPE html>
<html>
  <head>
    <title>New Sails App</title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    
    <!--  
        Stylesheets and Preprocessors
        ==============================

        You can always bring in CSS files manually with `<link>` tags, or asynchronously
        using a solution like AMD (RequireJS).  Or, if you like, you can take advantage 
        of Sails' conventional asset pipeline (boilerplate Gruntfile).

        By default, stylesheets from your `assets/styles` folder are included
        here automatically (between STYLES and STYLES END). Both CSS (.css) and LESS (.less)
        are supported. In production, your styles will be minified and concatenated into
        a single file.
        
        To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:
            
            + Change the order of your CSS files
            + Import stylesheets from other directories
            + Use a different or additional preprocessor, like SASS, SCSS or Stylus
    -->

    <!--FONTS-->
    <link href='https://fonts.googleapis.com/css?family=Titillium+Web:400,300,600,400italic,700' rel='stylesheet' type='text/css'>
    <!--FONTS END-->

    <!--STYLES-->
    <link rel="stylesheet" href="/vendor/angular-material-icons/angular-material-icons.css">
    <link rel="stylesheet" href="/vendor/angular-material/angular-material.css">
    <link rel="stylesheet" href="/vendor/leaflet/leaflet.css">
    <link rel="stylesheet" href="/styles/no-mq.css">
    <link rel="stylesheet" href="/styles/styles.css">
    <!--STYLES END-->
    
    <link rel="stylesheet" href="http://libs.cartocdn.com/cartodb.js/v3/3.15/themes/css/cartodb.css" />
  </head>

  <body ng-app="epaOei">
    <%- body %>



    <!--
        Client-side Templates
        ========================

        HTML templates are important prerequisites of modern, rich client applications.
        To work their magic, frameworks like Backbone, Angular, Ember, and Knockout require
        that you load these templates client-side.

        By default, your Gruntfile is configured to automatically load and precompile
        client-side JST templates in your `assets/templates` folder, then
        include them here automatically (between TEMPLATES and TEMPLATES END).
        
        To customize this behavior to fit your needs, just edit `tasks/pipeline.js`.
        For example, here are a few things you could do:

            + Import templates from other directories
            + Use a different template engine (handlebars, jade, dust, etc.)
            + Internationalize your client-side templates using a server-side
              stringfile before they're served.
    -->

    <!--TEMPLATES-->
    
    <!--TEMPLATES END-->


    <!--

      Client-side Javascript
      ========================

      You can always bring in JS files manually with `script` tags, or asynchronously
      on the client using a solution like AMD (RequireJS).  Or, if you like, you can 
      take advantage of Sails' conventional asset pipeline (boilerplate Gruntfile).

      By default, files in your `assets/js` folder are included here
      automatically (between SCRIPTS and SCRIPTS END).  Both JavaScript (.js) and
      CoffeeScript (.coffee) are supported. In production, your scripts will be minified
      and concatenated into a single file.
      
      To customize any part of the built-in behavior, just edit `tasks/pipeline.js`.
      For example, here are a few things you could do:
          
          + Change the order of your scripts
          + Import scripts from other directories
          + Use a different preprocessor, like TypeScript

    -->

    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/vendor/jquery/jquery.js"></script>
    <script src="/vendor/angular/angular.js"></script>
    <script src="/vendor/angular-material-icons/angular-material-icons.min.js"></script>
    <script src="/vendor/lodash/lodash.js"></script>
    <script src="/vendor/angular-animate/angular-animate.js"></script>
    <script src="/vendor/angular-aria/angular-aria.js"></script>
    <script src="/vendor/angular-cookies/angular-cookies.js"></script>
    <script src="/vendor/angular-leaflet-directive/angular-leaflet-directive.js"></script>
    <script src="/vendor/angular-material/angular-material.js"></script>
    <script src="/vendor/angular-mocks/angular-mocks.js"></script>
    <script src="/vendor/angular-resource/angular-resource.js"></script>
    <script src="/vendor/angular-route/angular-route.js"></script>
    <script src="/vendor/angular-sanitize/angular-sanitize.js"></script>
    <script src="/vendor/angular-slider/slider.js"></script>
    <script src="/vendor/angular-ui-router/angular-ui-router.js"></script>
    <script src="/vendor/jquery-selectability/jquery.selectability.js"></script>
    <script src="/vendor/leaflet/leaflet-src.js"></script>
    <script src="/js/maps/index.js"></script>
    <script src="/js/interface/index.js"></script>
    <script src="/js/templates.js"></script>
    <script src="/js/cartocss.js"></script>
    <script src="/js/templates-map.js"></script>
    <script src="/js/interface/components/geocode/index.js"></script>
    <script src="/js/interface/services/mapLayers/index.js"></script>
    <script src="/js/interface/states/home/index.js"></script>
    <script src="/js/interface/states/maps/components/map/index.js"></script>
    <script src="/js/interface/states/maps/components/selectMap/index.js"></script>
    <script src="/js/interface/states/maps/index.js"></script>
    <script src="/js/interface/states/page/index.js"></script>
    <script src="/js/maps/cancerScore/index.js"></script>
    <script src="/js/maps/cartoDbLayers/index.js"></script>
    <script src="/js/maps/cdcWonder/cancerIncidenceState/infowindow/index.js"></script>
    <script src="/js/maps/cdcWonder/cancerIncidenceState/layer/index.js"></script>
    <script src="/js/maps/colors/index.js"></script>
    <script src="/js/maps/epa/nata/infowindow/index.js"></script>
    <script src="/js/maps/epa/nata/layer/index.js"></script>
    <script src="/js/maps/epa/sld/d3Bpo3/infowindow/index.js"></script>
    <script src="/js/maps/epa/sld/d3Bpo3/layer/index.js"></script>
    <script src="/js/maps/epa/sld/rPctLowWa/infowindow/index.js"></script>
    <script src="/js/maps/epa/sld/rPctLowWa/layer/index.js"></script>
    <script src="/js/maps/epa/trinet/infowindow/index.js"></script>
    <script src="/js/maps/epa/trinet/layer/index.js"></script>
    <script src="/js/maps/hsa/access-to-care/infowindow/index.js"></script>
    <script src="/js/maps/hsa/access-to-care/layer/index.js"></script>
    <script src="/js/maps/infoWindow/index.js"></script>
    <script src="/js/maps/locationData/index.js"></script>
    <script src="/js/maps/nci/county-cancer-rate/infowindow/index.js"></script>
    <script src="/js/maps/nci/county-cancer-rate/layer/index.js"></script>
    <!--SCRIPTS END-->
    
    <script src="//maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true&libraries=places"></script>
    <script src="http://libs.cartocdn.com/cartodb.js/v3/3.15/cartodb.js"></script>
  </body>
</html>
