<md-card>
  <md-card-title layout="row">
     <md-card-title-text flex><h4>{{name}}</h4></md-card-title-text>
     <md-button class="md-icon-button launch" flex="none" ng-click="editLayer($event)" aria-label="Edit layer">
      <ng-md-icon icon="edit"></ng-md-icon>
    </md-button>
    <md-button class="md-icon-button launch" flex="none" ng-click="deleteLayer($event)" aria-label="Delete layer">
      <ng-md-icon icon="delete"></ng-md-icon>
    </md-button>
  </md-card-title>
  <md-card-content>
    <div class="map__map"></div>
  </md-card-content>
  <md-card-actions layout="row" flex layout-align="start center">
    <div class="map__legend" ng-bind-html="legend" flex="100"></div>
  </md-card-actions>
</md-card>
