// @file
// Color variables
// http://sass-lang.com/docs/yardoc/file.SASS_REFERENCE.html#variables_

$blue: #222745;
$dkturq: #005274;
$gray: #d0d4df;
$green: #6fb672;
$ltblue: #f4f8fb;
$ltgray: #e1e2e6;
$orange: #ff7800;
$purple: #442c7a;
$red: #ef2e49;
$turq: #3d95ad;
$white: #fff;
$yellow: #ebca27;

$tm-drkgray: #59595b;
$tm-ltgray: #a8a9ad;
$tm-yellow: #d5af10;
$tm-drkblue: #003d52;
$tm-ltblue: #4b7988;
$tm-green: #85a456;


$primary-text-color: $tm-drkgray;
$secondary-text-color: $tm-drkblue;
$heading-text-color: $tm-drkgray;
$body-color: #fff;
$link-color: $tm-ltblue;
$link-hover-color: $tm-drkblue;
$selection-background: $tm-drkblue;
$selection-foreground: #fff;
$status-color: #4d8e4d;
$warning-color: #fcce00;
$error-color: #900;
$border-color: #ccc;
$gradient-light: rgba(255, 255, 255, 0.2);
$gradient-dark: rgba(0, 0, 0, 0.2);

// Buttons
$button-bg-color: $tm-drkblue;
$button-text-color: white;

// Forms
$form-bg-color: #eee; // Used for fieldsets and vertical-tabs.
$form-border-color: #ccc;

// Mobile Menu
$mobile-menu-fallback-bg-color: #f3f3f3;
$mobile-menu-bg-color: rgba(243, 243, 243, 0.98);
$mobile-menu-border-color: #dadada;
$mobile-menu-text-color: #555559;
$mobile-menu-hover-color: #000000;
$mobile-submenu-fallback-bg-color: #fff;
$mobile-submenu-bg-color: rgba(255, 255, 255, 0.98);
$mobile-submenu-text-color: #555559;
$mobile-submenu-hover-color: #000000;

// Nav
$pillbox-bg-color: #f9f9f9;
$pillbox-text-color: #333;
$pipeline-border-color: #ccc;
